{% extends "base.html.twig" %}

{% block body %}
    <h1>Available courses</h1>
    <ul>
    {% for course in courses %}
        <li>
            <a href="{{ path("course_view", {courseId: course.id}) }}">{{ course.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock body %}