{% extends "base.html.twig" %}

{% block body %}
    <h1>Course details</h1>
    <h2>{{ course.name }}</h2>
    {% if displayVideo %}
        <h3>Video url: {{ course.videoSrc }}</h3>
        <iframe id="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/gZNm7L96pfY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>       
    {% endif %}
    </ul>
{% endblock body %}