default:  
    suites:
        user:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - RegisterContext
                - LoginContext
    extensions:
      Behat\MinkExtension:
        base_url:  'http://localhost:8000'
        sessions:
          default:
            # driver
            goutte: ~