<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% for flashMessage in app.session.flashbag.get("message")  %}
                <div class="flashbag-message">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashError in app.session.flashbag.get("error")  %}
                <div class="flashbag-error">
                    {{ flashError }}
                </div>
            {% endfor %}     
            
            {% if app.user %}
                <a href="{{ path("course_index") }}">Available courses</a>
                <a href="{{ path("logout") }}">Logout</a>
            {% endif %}
        </header>
        
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
