<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% for flashMessage in app.session.flashbag.get("message")  %}
            <div class="flashbag-message">
                {{ flashMessage }}
            </div>
            {% endfor %}
        </header>
        
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
